# Ignore node_modules
node_modules/
build

# Ignore configuration files
*.config.js
*.lock
.gitignore
tsconfig.json

# Ignore files TypeScript
src/**/*.ts
src/**/*.tsx

# Include SCSS files explicitly (if not in dist)
!src/**/*.scss

# Ignore development files
src/devTest/