@import "./mixin";

:root {
  --color_primary: #000000;
  --color_secondary: #757575;
  --color_disabled: #00000038;
  --color_inactive: #00000024;
  --color_focused: #6200ee;
  --color_error: #d50000;
  --color_variant-blue: #0336ff;
  --color_variant-yellow: #ffde03;
  --color_variant-red: #e30425;
  --color_variant-teal: #03dac5;
  --color_variant-orange: #f9aa33;
  
  --background_primary: #ffffff;
  --background_secondary: #f8f8f8; // body color
  
  --font-size: 16px;
  
  --label-font-size_active: 12px;
  --label-scale-factor: calc(var(--label-font-size_active) / var(--font-size));
  --label-scale-width: calc((100% - 28px - 4px) / var(--label-scale-factor));
  
  --border-radius: 4px;
  --border-color: var(--color_secondary);

  --padding-s: 5px;
  --padding-m: 14px;
  --padding-l: 16px;

  --transition-duration: 0.2s;
}

.darkMode {
  --color_primary: #e4e4e4;
  --color_secondary: #5e5e5e;
  --color_disabled: #e4e4e44d;
  --color_inactive: #e4e4e43d;
  --color_border: var(--color_disabled);
  --color_focused: #bb86fc;
  --color_error: #ff5252;
  --background_primary: #1d1d1d;
  --background_secondary: #121212; //body color
}

.Container--isFocused {
  * {
    color: var(--color_focused);
  }
  
  &,
  * > div {
    border-color: var(--color_focused) !important;
  }
}

.Container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
  justify-content: center;
  margin: 16px 0;
  padding: 0 14px;
  background-color: var(--background_primary);
  position: relative;
  @include side-element(none solid solid solid, var(--border-radius));
  
  * {
    @include initial-setup;
    color: var(--color_secondary);
    font-size: var(--font-size);
    min-height: 50px;
  }

  > main {
    width: 100%;
    height: calc(100% + var(--label-font-size_active));
    bottom: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;

    > section {
      width: 100%;
      height: calc(100% - var(--label-font-size_active));
      bottom: 0;
      position: absolute;
      display: flex;

      > div {
        width: 100%;
        border-width: 1px;
        border-style: solid none none none;
      
        border-color: var(--color_border);
        transition-duration: var(--transition-duration);
        transition-property: border-color, width;
        transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      
        height: 1px;
        min-height: unset;
        z-index: 99;
      
        &:first-child {
          max-width: 7px;
        }
      }

      > label {
        width: fit-content;
        padding: 0 0 0 14px;
        position: absolute;
        top: var(--font-size);
        font-size: var(--font-size);
        transition: 
          top var(--transition-duration) ease-in-out,
          position var(--transition-duration) ease-in-out,
          font-size var(--transition-duration) ease-in-out,
          padding calc(var(--transition-duration) - 0.2s) ease-in-out;
        white-space: nowrap;
        text-overflow: ellipsis;
        z-index: 8;
      }
    }
  }
  
  .Container--LabelActive {
    top: calc(-1* calc(var(--label-font-size_active)* .6));
    position: relative;
    font-size: var(--label-font-size_active);
    padding: 0 5px 0 5px;
  }  
  
  .Container--Children {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 0;
    z-index: 9;
    background-color: transparent;
    padding: 0;
  }
  
}